
@font-face{
	font-family: 'light';
	src: url(fonts/SourceCodePro-Light.ttf);
}
@font-face{
	font-family: 'bold';
	src: url(fonts/SourceCodePro-Bold.ttf);
}
@font-face {
	font-family: 'icons-pazzo';
	src:url('fonts/icons-pazzo.eot?vt85q6');
	src:url('fonts/icons-pazzo.eot?vt85q6#iefix') format('embedded-opentype'),
		url('fonts/icons-pazzo.ttf?vt85q6') format('truetype'),
		url('fonts/icons-pazzo.woff?vt85q6') format('woff'),
		url('fonts/icons-pazzo.svg?vt85q6#icons-pazzo') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icons-pazzo';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
	content: "\e900";
}
.icon-mobile:before {
	content: "\e901";
}
.icon-search:before {
	content: "\e600";
}
.icon-facebook:before {
	content: "\e902";
}
.icon-twitter:before {
	content: "\e903";
}
.icon-youtube:before {
	content: "\e605";
}
.icon-linkedin:before {
	content: "\e60c";
}
.content{
	border: 1px solid blue;
	margin: 0 auto;
	width: 90%;
	max-width: 1200px;
	position: relative;
}


body{
	background: black;
	font-family: 'light';
}
.bold{
	font-family: 'bold'
}
.wrapper{
	border: 1px solid red;
}
	.header{
		background: #453B37;
		background: rgba(69,59,55, .8);
		position: absolute;
		width: 100%;
		color: #FFF;
	}
		.contact_Mex{
			background: rgba(69,59,55,.9);
			margin: 0 auto;
			width: 100%;
			padding:10px 0;
		}
			.list_mex,.list_can{
				padding: 0;
				margin: 0;
				display: inline-block;
				vertical-align: top;
				list-style: none;
			}
			.list_can{
				margin: 0px 0px 0px 15%;
			}
				.item_mex{
					display: inline-block;
					vertical-align:top;
				}
				.item_can{
					display: inline-block;
					vertical-align:top;
				}
		.header_logo{
			display: block;
			text-align: right;
		}
		.menu{
			margin: 0;
			padding:0;
			list-style: none;
			display: inline-block;
			vertical-align: top;
			height: 36px;
		}
			.menu_item{
				display: inline-block;
				vertical-align: top;
				height: 36px;
				line-height: 30px;
				margin:0px 15px 0px 0px;
			}
			.menu_item a {
				color: #FFF;
				text-decoration: none;
			}
		.redes{
			display: inline-block;
			vertical-align: top;
			padding: 0;
			margin: 0;
			list-style: none;
			float: right;
			margin-right: 10px;
			border: 1px solid green;
			height: 33px;
		}
			.redes_item{
				display: inline-block;
				vertical-align: top;
				font-size: 20pt;
				margin: 0 5px;
			}
			.redes_item a{
				color: #FFF;
				text-decoration: none;
				line-height: 33px;
			}
			.menu li:hover > .subMenu{
				display: block;
			}
			.subMenu{
				display: none;
				background: url(../image/PLECAS/Pleca-astronauta.jpg)no-repeat;
				background-size: 100%;
				width: 100%;
				position: absolute;
				top: 36px;
				z-index: 1;
			}
				.subMenu_list{
					display: inline-block;
					vertical-align: top;
					margin: 5px 20px;
					list-style: none;
					font-size: 1rem;
					padding: 0;
				}
				.subMenu_list li{
					padding:0;
					line-height: normal;
					padding: 2px;
				}
					.subMenu_list a{
						color: #646263;
						text-decoration: none;
					}
				.subMenu_list li:first-child{
					font-family: 'bold';
					height: 25px;
					color: #000;

				}
	.lineWhiteHeader{
		position: absolute;
		top: 190px;
	}
